numpy
pandas
jupyter
notebook
matplotlib
seaborn
scipy
scikit-learn

openpyxl
pyarrow
fastparquet
sqlalchemy
pymysql
polars

plotly
folium
wordcloud
geopandas

statsmodels
mlxtend
tqdm

selenium
webdriver-manager
beautifulsoup4
requests
lxml
html5lib

sqlalchemy
streamlit